/** Variables **/
/** Colors for theme **/
/** Colors for Duplex**/
/** Responsiveness **/
/** Mixins **/
/** Module styles **/
/** Base styles **/
/** Specific styles **/
/** Theme styles **/
/* line 1, ../scss/base-styles/_body.scss */
body {
  font-family: verdana, arial, serif;
}

/*
* Specific styles for the duplex framework
* Author: Martin Hartmann & Dan Iversen
* WEB: www.Hiweb.dk
*/
/* line 7, ../scss/theme/_duplex.scss */
body {
  overflow: scroll;
}

/* line 11, ../scss/theme/_duplex.scss */
.brand-or-logo {
  font-size: 2em;
  padding: 20px;
}

/*
* Navigation styles
*/
/* line 23, ../scss/theme/_duplex.scss */
.navbar {
  border-radius: 0px;
}

/* line 27, ../scss/theme/_duplex.scss */
.dropdown-menu .btn {
  margin-left: 20px;
}

/* line 31, ../scss/theme/_duplex.scss */
.admin-nav {
  border-radius: 0px;
  font-size: 1em;
}
/* line 34, ../scss/theme/_duplex.scss */
.admin-nav .navbar-brand {
  font-size: 1em;
}

/*
* - footer styles -
*/
/* line 44, ../scss/theme/_duplex.scss */
.footer {
  background: #a1a1a1;
  min-height: 100px;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
}

/*
* pagination styles
*/
/* line 56, ../scss/theme/_duplex.scss */
.pagination {
  clear: both;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 61, ../scss/theme/_duplex.scss */
.pagination a {
  border: 1px solid #D5D5D5;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  height: 25px;
  padding: 4px 8px;
  text-decoration: none;
  margin: 2px;
}

/* line 71, ../scss/theme/_duplex.scss */
.pagination a:hover, .pagination a:active {
  background: #efefef;
}

/* line 74, ../scss/theme/_duplex.scss */
.pagination span.current {
  background-color: #687282;
  border: 1px solid #D5D5D5;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  height: 25px;
  padding: 4px 8px;
  text-decoration: none;
  margin: 2px;
}

/* line 85, ../scss/theme/_duplex.scss */
.pagination span.disabled {
  border: 1px solid #EEEEEE;
  color: #DDDDDD;
  margin: 2px;
  padding: 2px 5px;
}

/*
* - Misc -
*/
/* line 95, ../scss/theme/_duplex.scss */
.warning {
  color: red;
}

/* line 98, ../scss/theme/_duplex.scss */
.success {
  color: green;
}

/* line 1, ../scss/modules/_gallery.scss */
.gallery-item {
  padding: 5px;
  float: left;
  margin: 0 auto;
}
/* line 5, ../scss/modules/_gallery.scss */
.gallery-item img {
  height: 260px;
  width: 237.5px;
}

/* line 1, ../scss/modules/_lightbox.scss */
body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

/* line 6, ../scss/modules/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 17, ../scss/modules/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 27, ../scss/modules/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 38, ../scss/modules/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 42, ../scss/modules/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 56, ../scss/modules/_lightbox.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 62, ../scss/modules/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 66, ../scss/modules/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 76, ../scss/modules/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

/* line 84, ../scss/modules/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 93, ../scss/modules/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 97, ../scss/modules/_lightbox.scss */
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

/* line 102, ../scss/modules/_lightbox.scss */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 108, ../scss/modules/_lightbox.scss */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 121, ../scss/modules/_lightbox.scss */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 126, ../scss/modules/_lightbox.scss */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 139, ../scss/modules/_lightbox.scss */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 144, ../scss/modules/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 157, ../scss/modules/_lightbox.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 163, ../scss/modules/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 168, ../scss/modules/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 175, ../scss/modules/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 181, ../scss/modules/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 189, ../scss/modules/_lightbox.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 205, ../scss/modules/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
