/** Variables **/


/** Colors for theme **/

/** Colors for Duplex**/
$background: #A1A1A1;

/** Responsiveness **/
$responsive-desktop-small:   991px;
$responsive-tablet:          767px;


/** Mixins **/
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "compass/css3/background-size";

/** Module styles **/

/** Base styles **/

/** Specific styles **/

/** Theme styles **/
@import "base-styles/body";
@import "theme/duplex";
@import "modules/gallery";
@import "modules/lightbox";