/*
* Specific styles for the duplex framework
* Author: Martin Hartmann & Dan Iversen
* WEB: www.Hiweb.dk
*/

body {
    overflow: scroll;
}

.brand-or-logo {
    font-size: 2em;
    padding: 20px;
    img {
        
    }
}

/*
* Navigation styles
*/

.navbar {
  border-radius: 0px;
}

.dropdown-menu .btn {
  margin-left: 20px;
}

.admin-nav {
  border-radius: 0px;
  font-size: 1em;
  .navbar-brand {
    font-size: 1em;
  }
}


/*
* - footer styles -
*/

.footer {
  background: $background;
  min-height: 100px;
  color: #fff;
  margin-top: 20px;
  padding:10px;
}

/*
* pagination styles
*/

.pagination {
  clear: both;
  padding-bottom: 10px;
  padding-top: 10px;
}
.pagination a {
  border: 1px solid #D5D5D5;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  height: 25px;
  padding: 4px 8px;
  text-decoration: none;
  margin:2px;
}
.pagination a:hover, .pagination a:active {
  background:#efefef;
}
.pagination span.current {
  background-color: #687282;
  border: 1px solid #D5D5D5;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  height: 25px;
  padding: 4px 8px;
  text-decoration: none;
  margin:2px;
}
.pagination span.disabled {
  border: 1px solid #EEEEEE;
  color: #DDDDDD;
  margin: 2px;
  padding: 2px 5px;
}

/*
* - Misc -
*/
.warning {
    color: red;
}
.success {
    color: green;
}