/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/
.subnavbar-inner {
    height: 80px;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#cccccc), to(#323232));
    background-image: -webkit-linear-gradient(top, #cccccc, 0%, #323232, 100%);
    background-image: -moz-linear-gradient(top, #cccccc 0%, #323232 100%);
    background-image: linear-gradient(to bottom, #cccccc 0%, #323232 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ff323232', GradientType=0);
    border-bottom: 1px solid #000;
}